<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <p><span><a href = "https://amiradediran.com">Amira </a></span>is a front end developer and design enthusiast. She writes articles about front end technologies as she learns about them; as a point of reference, for consolidation of knowledge and for anyone who maybe might find them useful. </p>
</body>
</html>