<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>socials</title>
</head>
<body>
    <div class="socials">
        <a href="https://github.com/amxra"><img src="/assets/img/001-github.png" alt="github"></a>
        <a href="https://www.linkedin.com/in/amira-adediran-8308b4196/"><img src="/assets//img/002-linkedin.png" alt="linkedin"></a>
        <a href="https://codepen.io/amxra"><img src="/assets/img/003-codepen.png" alt="codepen"></a>
        <a href="#"><img src="/assets/img/004-twitter.png" alt="twitter"></a>
        <a href="mailto:amiradediran@gmail.com?Subject=Hello%20Amira!"><img src="/assets/img/005-email.png" alt="email"></a>
    </div>
</body>
</html>