

.footer{
    border: 1px solid red;
    box-sizing: border-box;
    background-color: black;
    // display: flex;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // width: 100vw;
    // height:100px ;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    // padding-right: 3rem;
    // padding-left: 7rem;
    // align-items: flex-end;
    // background-color: rgba(rgb(189,236,182),0.4);
}


